/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background: linear-gradient(270deg, #ff7e5f, #feb47b, #86a8e7, #91eae4);
    background-size: 800% 800%;
    animation: gradientAnimation 10s ease infinite;
}

@keyframes gradientAnimation {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}

.container {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    text-align: center;
    width: 100%;
    max-width: 1200px;
    z-index: 1;
    overflow: hidden; /* Added to prevent horizontal overflow */
}

h1, h2 {
    margin-bottom: 20px;
    color: #333;
}

.form-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    width: 100%; /* Adjusted to make forms responsive */
    max-width: 400px;
}

label {
    margin-top: 10px;
    margin-bottom: 5px;
    font-weight: bold;
}

select, input[type="text"], input[type="number"], button {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    width: 100%;
    transition: all 0.3s ease;
}

select:hover, input[type="text"]:hover, input[type="number"]:hover, button:hover {
    box-shadow: 0 0 10px rgba(0, 123, 255, 0.2);
}

select {
    cursor: pointer;
}

.input-container {
    width: 100%;
    max-width: 400px;
}

.button-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

button {
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    flex: 1;
    margin: 0 5px;
}

button:hover {
    background-color: #b30000;
}

.item-management {
    width: 100%;
    max-width: 400px;
    margin-top: 20px;
}

/* Modal Styles */
.modal {
    display: none;
    position: fixed;
    z-index: 100;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 500px;
    border-radius: 10px;
    text-align: center;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover, .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.label-content {
    text-align: left;
}

.label-content p {
    margin: 5px 0;
    font-weight: bold;
}
